.heading {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #eedd44, #0d94ac, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  letter-spacing: -6px;
}

.card3 {
  margin: 0px 0px 0px auto !important;
}

@media only screen and (max-width: 899px) and (min-width: 600px) {
  .card3 {
    margin: 0px auto !important;
  }
}

.container_row {
  display: flex;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.layer1 {
  width: 100%;
  z-index: 3;
}

.layer2 {
  width: 100%;
  margin-left: -86%;
  visibility: hidden;
}

.container_row:hover .layer2 {
  visibility: visible;
  margin-top: -11rem;
}
